.login-main-div{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.login-div{
    width: 25vw;
    height: 70vh;
    border: 1px solid black;
}
.login-head{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.inputs-login{
    margin-top: 60px;
    margin-bottom: 20px;
    width: 300px;
}

.input2-login{
    width: 300px;
}

.forgot-pass{
    margin-left: -170px;
}

.not-register{
    margin-top: 50px;
}